$grayPortfolio: #262626;


.wrapper{
  margin-top: 133px;
  .tag_container{
    margin: 0 auto;
    max-width: 1110px;
    min-height: 74px;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    .see_more_container{
      width:230px;
      :hover {
        color: #106B93;
      }
      .see_more{
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.02em;
        gap: 10px;
        :hover{
          color: #106B93;
          background: linear-gradient(91.37deg, #26B7CB 20.2%, #106B93 106.95%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    >h1{
      font-family: 'Noto Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      background: linear-gradient(91.37deg, #26B7CB 20.2%, #106B93 106.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 40px;
    }

  }
  .portfolio_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}