$gray: #262626;


.container{
  display: flex;
  align-items: center;
  max-width: 1110px;
  .containerLeft {
    max-width: 400px;
    min-height: 358px;
    width: 100%;
    margin-left: 20px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    >h1{
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      background: linear-gradient(90deg, #26B7CB -7.71%, #106B93 111%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.085em;
    }
    >p{
      font-weight: 200;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.04em;
      margin-bottom: 40px;
    }

    .contactICOS{
      display: flex;
      margin-top: 40px;
      max-width: 255px;
      width: 100%;
      justify-content: space-between;
      .circle{
        width: 65px;
        height: 65px;
        border-radius: 100px;
        background-color: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          .circle_image{
            filter: invert(51%) sepia(83%) saturate(460%) hue-rotate(141deg) brightness(94%) contrast(83%);
          }
        }
      }
    }

    .containerLeft_Button{
      max-width: 255px;
      width: 100%;
      height: 60px;
      border: none;
      background: linear-gradient(92.45deg, #106B93 3.38%, #26B7CB 93.79%);
      box-shadow: 0px 0px 15px rgba(16, 107, 147, 0.3);
      border-radius: 100px;
      color: white;
      margin-top: 40px;
      padding-top: 3px;
      animation-duration: 1s;
      cursor: pointer;
    }
    .containerLeft_Button:hover{
      opacity: 90%;
    }
  }

  .containerRight{
    max-width: 800px;
    width: 100%;
    max-height: 413px;
    height: 100%;
  }
}

@media screen and (min-width: 1244px) {
  .container{
    margin: 0 auto;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1244px) {
  .containerRight{
    display: none;
  }
  .containerLeft{
    margin: 0 auto;
  }
  .container{
    margin-top: 100px;
    justify-content: center;
  }
}
