.contactICOS{
  display: flex;
  max-width: 255px;
  width: 100%;
  gap: 30px;
  .circle{
    width: 65px;
    height: 65px;
    border-radius: 100px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      .circle_image{
        filter: invert(51%) sepia(83%) saturate(460%) hue-rotate(141deg) brightness(94%) contrast(83%);
      }
    }
  }
}